.scroll-indicator {
	position: absolute;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;

	@extend .is-size-4;
	@extend .has-text-grey-lighter;
	opacity: 0.5;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: translate(-50%, 0)    rotate(135deg); }
  50% 		 { -webkit-transform: translate(-50%, 10px) rotate(135deg); }
}

@keyframes bounce {
  0%, 100% { transform: translate(-50%, 0)    rotate(135deg); }
  50% 		 { transform: translate(-50%, 10px) rotate(135deg); }
}
