.scroll-indicator {
	position: absolute;
	transform:translateX(-50%) rotate(135deg);
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;

	@extend .is-size-4;
	@extend .has-text-grey-lighter;
	opacity: 0.5;
}

@-webkit-keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}

@keyframes bounce {
	 0% { top: 15%; }
	 50%   { top: 20%; }
	 100% { top: 15%; }
}
