@charset "utf-8";

$size-1: 8rem;
$size-2: 6rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1rem;
$size-6: 0.9rem;
$size-7: 0.75rem;

@import "bulma.sass";
@import "mixins.scss";

body {
  font-family: 'Merriweather', sans-serif;
  @include background-2x( 'images/background', 'jpg', 1920px, 2880px, center 80%, no-repeat );
}

.page-content {
  margin: 0 20px;
  max-width: 420px;
}

section.hero {
  #header {
    margin-top: 10%;
    margin-bottom: 30%;

    .title {
      font-family: 'Dosis', sans-serif;
      color: whitesmoke;
      line-height: 0.8em;
      padding-bottom: 2rem;

      @extend .has-text-weight-bold;
      @extend .is-size-1-desktop;
      @extend .is-size-2-touch;
    }

    .subtitle {
      font-family: 'Merriweather', sans-serif;
      line-height: 1.5em;

      @extend .has-text-grey-light;
      @extend .is-size-3-desktop;
      @extend .is-size-4-touch;

      strong {
        @extend .has-text-white-ter;
      }
    }
  }

  .hero-foot {
    height: 60px;
    position: relative;
  }
}

#email-field {
  width: 100%;
}
