@charset "utf-8";

$size-1: 8rem;
$size-2: 6rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1rem;
$size-6: 0.9rem;
$size-7: 0.75rem;

@import "bulma.sass";
@import "mixins.scss";
@import "scroll_indicator.scss";
@import "fonts.scss";

body {
  background-color: #171b1e;
  font-family: 'Merriweather', sans-serif;
  @include background-2x( 'images/background', 'jpg', 1920px, 2880px, center 80%, no-repeat );
}

.page-content {
  max-width: 420px;
}

section.hero {

  // https://github.com/jgthms/bulma/issues/766
  .columns {
    margin-left: 0;
    margin-right: 0;
  }

  #header {
    margin-top: 30%;
    margin-bottom: 20%;

    .title {
      font-family: 'Dosis', sans-serif;
      color: whitesmoke;
      line-height: 0.8em;

      @extend .has-text-weight-bold;
      @extend .is-size-1-desktop;
      @extend .is-size-2-touch;
    }

    .subtitle {
      margin-top: 15%;
      font-family: 'Merriweather', sans-serif;
      line-height: 1.5em;

      @extend .has-text-grey-light;
      @extend .is-size-3-desktop;
      @extend .is-size-4-touch;

      strong {
        @extend .has-text-white-ter;
      }
    }
  }

  #newsletter {
    margin-top: 30%;
  }

  .hero-foot {
    height: 60px;
    position: relative;
  }
}

#email-field {
  width: 100%;
}

section.timeline {
  @extend .has-text-weight-light;

  .heading {
    font-family: 'Fira Sans', sans-serif;
    text-transform: none;
    @extend .has-text-white;
    @extend .is-size-5-mobile;
    @extend .is-size-3-tablet;
    @extend .is-size-3-desktop;

    &.active {
      text-decoration: underline;
    }
  }

  .content {
    font-family: 'Merriweather', sans-serif;
    text-shadow: 1px 1px 1px black;
    line-height:1.9em;

    @extend .has-text-grey-light;
    @extend .is-size-7-mobile;
    @extend .is-size-6-tablet;
    @extend .is-size-6-desktop;

    em {
      font-style: normal;
      @extend .has-text-grey-lighter;
      @extend .has-text-weight-normal;
    }
  }

  &.mobile {
    @extend .is-hidden-tablet;
  }

  &.desktop {
    @extend .is-hidden-mobile;

    .heading {
      &:before {
        content: '';
        position: absolute;
        width:8px;
        height:8px;
        border:4px solid #ffffff;
        background-color:#1D1D1D;
        border-radius:100%;
        top:50%;
        transform:translateY(-50%);
        right:-73px;
        z-index:1000;
      }
      &.big:before {
        width:24px;
        height:24px;
        transform:translate(8px,-50%);
      }
    }
  }
}

#timeline {
  position: relative;
  height: auto;
}

#timeline-inner:before {
  content: '';
  position: absolute;
  top:0px;
  left:50%;
  bottom:0px;
  transform:translateX(-50%);
  width:4px;
  background-color:#fff;
}

#timeline-inner {
  .entries {
    width:calc(100% - 80px);
    max-width:800px;
    margin:auto;
    position: relative;
    left:-5px;
    .entry {
      width:calc(50% - 80px);
      float:left;
      padding:20px;
      clear:both;
      text-align:right;
      &:not(:first-child) {
        margin-top:-60px;
      }
      .heading {
        font-family: 'Fira Sans', sans-serif;
        font-size:32px;
        margin-bottom:12px;
        position: relative;
        color:#fff;
        &:before {
          content: '';
          position: absolute;
          width:8px;
          height:8px;
          border:4px solid #ffffff;
          background-color:#1D1D1D;
          border-radius:100%;
          top:50%;
          transform:translateY(-50%);
          right:-73px;
          z-index:1000;
        }
        &.big:before {
          width:24px;
          height:24px;
          transform:translate(8px,-50%);
        }
      }
      .body {
        font-family: 'Merriweather', sans-serif;
        text-shadow: 1px 1px 1px black;
        font-size: 0.9em;
        color:#aaa;
        p {
          line-height:1.6em;

          em {
            font-style: normal;
          }
        }
      }
      &:nth-child(2n) {
        text-align:left;
        float:right;
        .heading {
          &:before {
            left:-63px;
          }
          &.big:before {
            transform:translate(-8px,-50%);
          }
        }
        .body {
          text-shadow: -1px 1px 1px black;
        }
      }
    }
  }
}

.fas, .fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

.fa-envelope:before {
  content: "\e901";
}

.fa-rocket:before {
  content: "\e900";
}
