<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="Rustic Games">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Fira+Sans|Merriweather:300,400,700" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/bulma.css" rel="stylesheet">
  <title>{{ config.title }}</title>
</head>

<body>

  <!-- title + subtitle + newsletter, full screen height  -->
  <section class="hero is-fullheight">
    <div class="hero-head">
      <div class="columns is-centered">
        <div class="page-content column is-one-third">
          <div id="header">
            <h1 class="title">
              Rusty
              <br />Rockets
            </h1>
            <h2 class="subtitle">
              An open-source game about <strong>space engineering</strong>
              and <strong>exploration</strong>.
            </h2>
          </div>

          <div id="newsletter">
            <form id="mc-embedded-subscribe-form" novalidate name="mc-embedded-subscribe-form" action="https://games.us19.list-manage.com/subscribe/post?u=39bb7914acd917b0df2682094&amp;id=95fd99a145"
              method="post">
              <div class="field has-addons">
                <div id="email-field" class="control has-icons-left">
                  <input class="input has-text-info" name="EMAIL" id="mce-EMAIL" type="email" placeholder="stay up-to date">
                  <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_39bb7914acd917b0df2682094_95fd99a145" tabindex="-1" value="">
                </div>
                <div class="control">
                  <button id="mc-embedded-subscribe" class="button is-info">notify me</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </section>

</body>

</html>
