<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123736017-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-123736017-2');
  </script>

  <!-- see https://realfavicongenerator.net -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="apple-mobile-web-app-title" content="Rusty Rockets">
  <meta name="application-name" content="Rusty Rockets">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="theme-color" content="#ffffff">

  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

  <meta name="description" content="{{ config.description }}">
  <meta name="author" content="Rustic Games">
  <link href="https://fonts.googleapis.com/css?family=Dosis|Fira+Sans|Merriweather:300,400,700" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
  <link href="/bulma.css" rel="stylesheet">
  <title>{{ config.title }}</title>
</head>

<body>

  <!-- title + subtitle + newsletter, full screen height  -->
  <section class="hero is-fullheight">
    <div class="hero-head">
      <div class="columns is-centered">
        <div class="page-content column is-one-third">
          <div id="header">
            <h1 class="title">
              Rusty
              <br />Rockets
            </h1>
            <h2 class="subtitle">
              An open-source game about <strong>space engineering</strong>
              and <strong>exploration</strong>.
            </h2>
          </div>

          <div id="newsletter">
            <form id="mc-embedded-subscribe-form" novalidate name="mc-embedded-subscribe-form" action="https://games.us19.list-manage.com/subscribe/post?u=39bb7914acd917b0df2682094&amp;id=95fd99a145"
              method="post">
              <div class="field has-addons">
                <div id="email-field" class="control has-icons-left">
                  <input class="input has-text-info" name="EMAIL" id="mce-EMAIL" type="email" placeholder="stay up-to date">
                  <span class="icon is-medium is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_39bb7914acd917b0df2682094_95fd99a145" tabindex="-1" value="">
                </div>
                <div class="control">
                  <button id="mc-embedded-subscribe" class="button is-info">notify me</button>
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="hero-foot has-text-centered">
      <span class="scroll-indicator fa fa-space-shuttle"></span>
    </div>
  </section>

  <!-- mobile timeline  -->
  <section class="section timeline mobile">
    <div class="columns is-centered">
      <div class="column is-one-quarter">

        <div class="level">
          <p class="heading">mid 2018</p>
          <p class="content">
            Define goals of the project, make
            <em>initial estimates</em>,
            gather feedback, begin writing global and technical
            <em>design document</em>.
            Read up on Newtonian physics, mathematics, and the Rust programming language.</p>
        </div>

        <div class="level">
          <p class="heading active">late 2018</p>
          <p class="content">
            Begin work on <em>early prototype</em>.
            Continue <em>research</em>,
            finish design documents and make preparations to
            support an <em>active open-source community</em>.
        </div>

        <div class="level">
          <p class="heading">mid 2019</p>
          <p class="content">
            <em>Open source</em> all code and resources.
            Continue development in the open and <em>collaborate</em>
            with anyone who wants to contribute. Do some <em>early promoting</em>
            to gauge interest.</p>
        </div>

        <div class="level">
          <p class="heading">late 2019</p>
          <p class="content">
            Release early <em>gameplay and visual preview</em>.
            Increase promotional efforts. Prepare financial support campaign. Continue development.</p>
        </div>

        <div class="level">
          <p class="heading">early 2020</p>
          <p class="content">
            Launch <em>financial support campaign</em>
            to fund full-time development for at least two more years.</p>
        </div>

        <div class="level">
          <p class="heading">2021 or later</p>
          <p class="content">
            Depending on available development time in 2020, launch <em>early access</em>
            game to community sometime in 2021, or the year after.</p>
        </div>

        <div class="level">
          <p class="heading">into the future</p>
          <p class="content">
            The goal of this project is to support a <em>multi-decade game community</em>.
            As long as I can support my family, this game will
            become my day job, and the game will <em>continue to be improved</em>,
            while remaining <em>free for everyone</em>
            to enjoy and <em>open to the community</em> to contribute to.</p>
        </div>

      </div>
    </div>
  </section>

  <!-- non-mobile timeline  -->
  <section class="section timeline desktop">
    <div class="columns is-centered">

      <div id="timeline">
        <div id="timeline-inner">
          <div class="entries">

            <div class="entry">
              <div class="heading">mid 2018</div>
              <div class="body">
                <p class="content">
                  Define goals of the project, make
                  <em>initial estimates</em>,
                  gather feedback, begin writing global and technical
                  <em>design document</em>.
                  Read up on Newtonian physics, mathematics, and the Rust programming language.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading active has-text-white">late 2018</div>
              <div class="body">
                <p class="content">
                  Begin work on <em>early prototype</em>.
                  Continue <em>research</em>,
                  finish design documents and make preparations to
                  support an <em>active open-source community</em>.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading big">mid 2019</div>
              <div class="body">
                <p class="content">
                  <em>Open source</em> all code and resources.
                  Continue development in the open and <em>collaborate</em>
                  with anyone who wants to contribute. Do some <em>early promoting</em>
                  to gauge interest.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading">late 2019</div>
              <div class="body">
                <p class="content">
                  Release early <em>gameplay and visual preview</em>.
                  Increase promotional efforts. Prepare financial support campaign. Continue development.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading big">early 2020</div>
              <div class="body">
                <p class="content">
                  Launch <em>financial support campaign</em>
                  to fund full-time development for at least two more years.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading big">2021 or later</div>
              <div class="body">
                <p class="content">
                  Depending on available development time in 2020, launch
                  <em>early access</em>
                  game to community sometime in 2021, or the year after.</p>
              </div>
            </div>

            <div class="entry">
              <div class="heading">into the future</div>
              <div class="body">
                <p class="content">
                  The goal of this project is to support a
                  <em>multi-decade game community</em>.
                  As long as I can support my family, this game will
                  become my day job, and the game will
                  <em>continue to be improved</em>,
                  while remaining <em>free for everyone</em>
                  to enjoy.</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </section>

</body>

</html>
